@charset "UTF-8";

body,
h1,
h2,
h3,
p,
div,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  height: 80px;
}

header h1 {
  text-align: center;
}

.chart {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

h2 {
  font-size: clamp(20px, 16px+3vw, 32px);
  margin-bottom: 40px;
  text-align: center;
}

.question-title {
  margin-bottom: 20px;
}

h3 {
  text-align: center;
}

.center {
  text-align: center;
  font-size: 24px;
}

.positionFit ul {
  display: flex;
  justify-content: space-around;
}

.answer-words {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
}

.btn {
  color: #000;
  font-size: 20px;
  border: solid 2px #000;
}

.product {
  text-align: center;
}